{% extends 'base.html' %}
{% load static %}

{% block 'content' %}
<div class="container my-5">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h2 class="h4 text-muted">SOBRE NOSOTROS</h2>
        <h1 class="display-4 text-dark">Custom Wood</h1>
        <p class="mt-4 text-muted">
          We specialise in the construction of customised staircases, furniture, interiors and balustrades. We use quality imported materials from Europe and all wood work is done with hard woods, veneer boards, superwood and chipboards. Measurements are taken on-site and advice on the choice...
        </p>
        <a href="#" class="btn btn-primary mt-4">READ MORE</a>
      </div>
      <div class="col-md-6">
        <div class="image-container">
          <img src="https://placehold.co/500x500" alt="Woodworking tools and materials" class="img-fluid rounded-lg shadow-lg" />
          <img src="https://placehold.co/250x250" alt="Additional image" class="additional-image img-fluid rounded-lg shadow-lg" />
        </div>
      </div>
    </div>
  </div>

{% endblock %}