{% extends 'base.html' %}
{% load static %}

{% block 'content' %}
<div class="container my-5">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h2 class="h4 text-muted">SOBRE NOSOTROS</h2>
        <h1 class="display-4 text-dark"><span style="color: lightslategrey;">Dulce</span><span style="color: red;"> Hogar</span></h1>
        <p class="mt-4 text-muted">"Dulce Hogar Corredora de Propiedad" nació del sueño de transformar el proceso de compra y arriendo de inmuebles en una experiencia sencilla, transparente y placentera. Todo comenzó cuando un grupo de apasionados profesionales del sector inmobiliario se unió con el objetivo de revolucionar el mercado, aportando un enfoque fresco y centrado en el cliente. </p>
        <h6>Nuestra Visión</h6>
        <p class="mt-4 text-muted">En "Dulce Hogar", nuestra visión es ser la corredora de propiedad de confianza que los clientes eligen por su compromiso con la excelencia y el servicio personalizado. Imaginamos un futuro donde cada persona pueda acceder a su hogar ideal con facilidad y sin complicaciones. </p>
        <a href="#" class="btn btn-vrmas mt-4">Contactanos</a>
      </div>
      <div class="col-md-6">
        <div class="image-container">
          <img src="{% static 'img/barrio.jpg' %}" alt="Woodworking tools and materials" class="img-fluid rounded-lg shadow-lg" />
          <img src="{% static 'img/gisela.jpeg' %}" alt="Additional image" class="additional-image img-fluid rounded-lg shadow-lg" />
        </div>
      </div>
    </div>
  </div>

{% endblock %}