{% extends 'base.html' %}
{% load static %}

{% block 'content' %}
<div class="container mt-5">
    <div class="row">
        <!-- Panel de Usuario -->
        <div class="col-md-4">
            <div class="card border-danger mb-3">
                <div class="card-header bg-danger text-white">
                    <h4 class="mb-0">Perfil de Usuario</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title" style="color: black;">Bienvenid@, {{ user.username }}</h5>
                    <p class="card-text"><strong>Nombre:</strong> {{ user.first_name }}</p>
                    <p class="card-text"><strong>Apellido:</strong> {{ user.last_name }}</p>
                    <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'update_profile' %}" class="btn btn-outline-danger">Actualizar Perfil</a>
                    <a href="{% url 'logout' %}" class="btn btn-outline-danger">Cerrar Sesión</a>
                </div>
            </div>
        </div>

        <!-- Sección de Información Adicional -->
        <div class="col-md-8">
            <h2 class="mb-4">Información Adicional</h2>
            <div class="alert alert-info" role="alert">
                Aquí veras la información de tu inmueble.
            </div>
        </div>
    </div>
</div>
{% endblock %}
