{% extends 'base.html' %}
{% load static %}

{% block 'content' %}

<!-- banner principal  -->
<img src="{% static 'img/banner_principal.png' %}" class="img-fluid" alt="banner principal corredores">

<!-- Filtro por propiedades -->
<div class="container mt-4">
    <div class="bg-white border custom-border-danger p-4 d-flex align-items-center gap-3">
        <div class="flex-grow-1">
            <select id="tipo_usuario" class="form-select">
                <option value="">TIPO USUARIO</option>
                {% for tipo_user in tipos_usuario %}
                    <option value="{{ tipo_user.id }}">{{ tipo_user.tipo_user }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="flex-grow-1">
            <select id="tipo_inmueble" class="form-select">
                <option value="">TIPO PROPIEDAD</option>
                {% for tipo_inmueble in tipos_inmueble %}
                    <option value="{{ tipo_inmueble.id }}">{{ tipo_inmueble.tipo_inmueble }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="flex-grow-1">
            <select id="region_cod" class="form-select">
                <option value="">REGIÓN</option>
                {% for region in regiones %}
                    <option value="{{ region.id }}">{{ region.region }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="flex-grow-1">
            <select id="comuna_cod" class="form-select">
                <option value="">COMUNA</option>
                {% for comuna in comunas %}
                    <option value="{{ comuna.id }}" data-region="{{ comuna.region.id }}">{{ comuna.comuna }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <button class="btn btn-primary-custom">BUSCAR</button>
        </div>
    </div>
</div>


<!-- Propiedades destacadas -->
<div class="container pt-5">
    <h1 class="text-center mb-5">PROPIEDADES DESTACADAS</h1>
    <div class="row">
        {% for inmueble in inmuebles %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                {% if inmueble.imagen %}
                    <img src="{{ inmueble.imagen.url }}" class="card-img-top" alt="Imagen de inmueble">
                {% else %}
                    <img src="{% static 'images/default-image.png' %}" class="card-img-top" alt="Imagen predeterminada">
                {% endif %}
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ inmueble.nombre_inmueble }}</h5>
                    <p class="card-text">{{ inmueble.descripcion }}</p>
                    <p class="card-text">
                        <i class="fa-solid fa-location-dot"></i><strong> Dirección:</strong> {{ inmueble.direccion }}
                    </p>
                    <p class="card-text">
                        <i class="fa-solid fa-arrows-up-down-left-right"></i><strong> Metros Construidos:</strong> {{ inmueble.m2_construido }}
                    </p>
                    <!-- Más campos aquí -->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Nuestro equipo -->
<section class="py-10">
    <h2 class="text-center text-2xl font-bold mb-6 pt-5">NUESTRO EQUIPO</h2>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 pt-5">
            <div class="col">
                <div class="card card-equipo">
                    <img src="{% static 'img/gisela.jpeg' %}" alt="Gisela Oyarzún" class="card-img-top">
                    <div class="card-body text-center">
                        <h3 class="card-title">Fernanda Ibarra</h3>
                        <p class="card-text">fibarra@dulcehogar.cl</p>
                        <p class="card-text">GERENTE GENERAL</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-equipo">
                    <img src="{% static 'img/gisela_02.jpeg' %}" alt="Gabriela Fernández" class="card-img-top">
                    <div class="card-body text-center">
                        <h3 class="card-title">Gabriela Fernández</h3>
                        <p class="card-text">gfernandez@dulcehogar.cl</p>
                        <p class="card-text">AGENTE INMOBILIARIO</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-equipo">
                    <img src="{% static 'img/gisela_03.jpeg' %}" alt="Ana Besnier" class="card-img-top">
                    <div class="card-body text-center">
                        <h3 class="card-title">Ana Besnier</h3>
                        <p class="card-text">abesnier@dulcehogar.cl</p>
                        <p class="card-text">AGENTE INMOBILIARIO</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-equipo">
                    <img src="{% static 'img/gisela_04.jpeg' %}" alt="Fabiola Huerta" class="card-img-top">
                    <div class="card-body text-center">
                        <h3 class="card-title">Fabiola Huerta</h3>
                        <p class="card-text">fhuerta@dulcehogar.cl</p>
                        <p class="card-text">AGENTE INMOBILIARIO</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Sectores mas populares -->
<div class="container my-4 pt-5">
    <h2 class="text-center mb-4">SECTORES MÁS POPULARES</h2>
    <div class="row g-4 pt-5">
      <div class="col-12 col-md-6">
        <div class="image-container image-container-3">
            <img src="{% static 'img/penalolen.png' %}" alt="Peñalolén">
          </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="image-container image-container-2">
          <img src="{% static 'img/pirque.png' %}" alt="Pirque">
        </div>
      </div>      
      </div>
    </div>
  </div>
{% endblock %}