{% extends 'base.html' %}

{% block 'content' %}

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card p-5 shadow-lg w-100" style="max-width: 400px;">
        <h2 class="login mb-4 text-center">
            Actualiza tu Perfil
        </h2>
        <p class="text-center mb-4 text-bold">¡Asegúrate de que tu información esté correcta!</p>
        
        {% if u_form.errors %}
            <div class="alert alert-danger">
                {% for field in u_form %}
                    {% if field.errors %}
                        <div>
                            <strong>{{ field.label }}</strong>: {{ field.errors }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        
        <form method="post" action="{% url 'update_profile' %}">
            {% csrf_token %}
            {% for field in u_form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="d-grid">
                <button type="submit" class="btn btn-primary-custom">Actualizar</button>
            </div>
        </form>
        <div class="text-center mt-3">
            <a href="{% url 'indice' %}">Volver al inicio</a>
        </div>
    </div>
</div>
{% endblock %}


